.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: #3d3f41;
  color: #a9abad;
  font-family: monospace;
  font-size: 14px;
}

.container button{
  background-color: #3d3f41;
  color: #d5d5cd;
  border: 1px solid #333333;
}

.navbar {
  background-color: #171713;
  height: 45px;
  width: 100%;
}

.mainframe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  outline: 1px solid #333333;
}
.editor {
  box-sizing: border-box;
  height: 100%;
  width: 70%;
}

.editor textarea {
  box-sizing: border-box;
  width: 100%;
  height: 24vh;
  resize: none;
  background-color: #2c2c2c;
  color: #a9abad;
  margin: 0;
  border: 1px solid #333333;
}

.editor select {
  background-color: #2c2c2c;
  border: 1px solid #333333;
  color: #a9abad;
}

.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 30%;
  outline: 2px solid #333333;
}

.sidebar textarea {
  box-sizing: border-box;
  width: 100%;
  height: 27.5vh;
  background-color: #2c2c2c;
  outline: 1px solid #333333;
  border: none;
  overflow-x: visible;
  resize: none;
  margin: 0;
  color: #a9abad;
}

.sidebar input {
  background-color: #2c2c2c;
  border: none;
  color: #a9abad;
}

.translator input{
  width: 12vw;
}

textarea {
  font-family: monospace;
  outline: none;
}

input {
  font-family: monospace;
  outline: none;
}

select {
  font-family: monospace;
}

p {
  font-family: monospace;
}

button {
  font-family: monospace;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  color: #a9abad;
  display: inline-block;
  cursor: pointer;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  color: #e1e4e7;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  background-color: #3d3f41;
  list-style-type: none;
  border-radius: 5px;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #333333;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.signed-in {
  padding: 10px 20px;
  white-space: nowrap;
}

.user {
  font-weight: bold;
}




