.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-end;
}


.logo {
    margin-left: 10px;
    font-weight: bold;
}

.user-menu {
    margin-right: 10px;
    margin-top: 5px;
}

.profile-icon {
    font-size: 35px;
    padding: 5px 10px 0 0;
}

.profile-icon:hover {
    color: #e1e4e7;
}


.signed-in {
    padding: 10px 20px;
    white-space: nowrap;
}

.user {
    font-weight: bold;
}